.fish-element.unknowun {
}

.fish-element.unknowun #fish-image {
    -unity-background-image-tint-color: rgba(0, 0, 0, 0.78);
}

.fish-element.unknowun #star {
    -unity-background-image-tint-color: rgba(77, 77, 77, 0.59);
}
