#time-n-date {
    position: absolute;
    left: 0;
    width: 350px;
    height: 140px;
    top: 25%;
}

#time-n-date > #date-text {
    font-size: 45px;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

#time-n-date > #time-text {
    font-size: 35px;
    letter-spacing: 7px;
    margin-bottom: 5px;
}

#time-n-date > #line {
    background-color: rgba(255, 255, 255, 0.59);
    height: 5px;
    width: 100%;
}
